@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
body{
    background-image: url("./assets/images/black.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Zen Dots', "cursive";
}